@charset "UTF-8";

@font-face
{
    font-family: "nscj-reg";
    src: url("nscj-reg.otf");
}

@font-face
{
    font-family: "nscj-bold";
    src: url("nscj-bold.otf");
}

body
{
    margin: 0;
    background-color: #594df6;
    font-family: "nscj-reg";
    color: white;
}

p
{
    margin: 0;
}

.showboxes
{
    background-color: #594df6;
    margin: 20px;
}

.text
{
    margin-top: -4px;
    padding-right: 2px;
    text-align: right;
}

.showbox
{
    display: inline-block;
    vertical-align: top;
    width: 230px;
    padding: 5px 20px 0 20px;
}

.showbox .title
{
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 20px;
    margin: 3px 0 3px 0;
    font-family: "nscj-bold";
}

.showbox .info
{
    font-size: 10px;
}

.showbox .genres
{
    line-height: 17px;
}

.showbox .genres span
{
    background-color: white;
    color: #594df6;
    border-radius: 7px;
    padding: 0 8px 0 8px;
    box-sizing: border-box;
    white-space: nowrap;
}

.showbox .genres span.format
{
    background-color: #f5e30d;
}

.showbox img
{
    border-radius: 4px;
}

.daybox
{
    display: inline-table;
    padding: 10px 0 10px 0;
}

.day-label
{
    display: table-cell;
    height: 100%;
    width: 50px;
    background-color: white;
    font-family: "nscj-bold";
    color: #594df6;
    vertical-align: middle;
    text-align: center;
    font-size: 21px;
    border-radius: 6px;
}

.menu-top
{
    height: 400px;
    padding: 20px;
}

.menu-block
{
    display: inline-block;
    width: 400px;
    height: 400px;
}

.input-holder
{
    margin: 20px 0 20px 0;
}

.input-holder span
{
    font-size: 21px;
}

.white-textbox
{
    height: 45px;
    width: 150px;
    padding: 0 10px 0 10px;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    font-family: "nscj-reg";
    color: #594df6;
}

.white-textbox:focus
{
    outline: none;
}

.season-pick
{
    display: inline-block;
}

.input-holder .season-pick span
{
    padding: 3px 9px 4px 9px;
    cursor: pointer;
    user-select: none;
}

.season-pick span.selected
{
    background-color: white;
    border-radius: 100%;
    color: #594df6;
}

.season-pick.language span.selected
{
    border-radius: 20px;
}